<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Poster</th>
                <th scope="col">imdbID</th>
                <th scope="col">Title</th>
                <th scope="col">Released</th>
                <th scope="col">Runtime</th>
                <th scope="col">Genre</th>
                <th scope="col">Director</th>
                <th scope="col">Writer</th>
                <th scope="col">Actors</th>
                <th scope="col">imdbRating</th>
                <th scope="col">Language</th>
                <th scope="col">Plot</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for movie in films %}
                <tr>        
                    <td><img src="{{ movie.poster_url }}" ></td>
                    <td>{{ movie.id }}</th>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.released }}</td>
                    <td>{{ movie.runtime }}</td>
                    <td>{{ movie.genre }}</td>
                    <td>{{ movie.director }}</td>
                    <td>{{ movie.writer }}</td>
                    <td>{{ movie.actors }}</td>
                    <td>{{ movie.ratings }}</td>
                    <td>{{ movie.language }}</td>
                    <td>{{ movie.plot }}</td>
                </tr>
            {% endfor %} -->
        </tbody>
    </table>
</body>
</html>
